<template>
  <b-container>
    <h1>Signup</h1>
    <b-form @submit.prevent="onSubmit">

        <b-form-group
        label="Nom :"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.name"
          required
          placeholder="Nom"
        ></b-form-input>
      </b-form-group>

        <b-form-group
        label="Email :"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        label="Mot de passe :"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.password"
          type="password"
          required
          placeholder="Mot de passe"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Valider</b-button>
    </b-form>
  </b-container>
</template>

<script>
import { SERVER_URL } from './../const'
import axios from 'axios'
export default {
  data () {
    return {
      SERVER_URL: SERVER_URL,
      form: {
        email: '',
        password: '',
        name: ''
      }
    }
  },
  methods: {
    onSubmit () {
      axios.get(this.SERVER_URL + 'users/subscribe/?email=' + this.form.email + '&password=' + this.form.password + '&name=' + this.form.name + '/')
        .then(res => {
          if (res.data.status === 'ok') {
            console.log('jarrive')
            this.$router.push({ path: '/' })
          }
        })
    }
  }
}
</script>
