<template>
  <b-container>
    <h1>Login</h1>
    <b-form @submit.prevent="onSubmit">

        <b-form-group
        label="Email :"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        label="Mot de passe :"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.password"
          type="password"
          required
          placeholder="Mot de passe"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Valider</b-button>
    </b-form>
    <router-link to='/signup'>Inscription</router-link>
  </b-container>
</template>

<script>
import { SERVER_URL } from './../const'
import axios from 'axios'
export default {
  data () {
    return {
      SERVER_URL: SERVER_URL,
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    onSubmit () {
      axios.get(this.SERVER_URL + 'users/connect/?email=' + this.form.email + '&password=' + this.form.password)
        .then(res => {
          if (res.data.status === 'ok') {
            console.log(res.data)
            this.$router.push({ path: '/swipe' })
          }
        })
    }
  }
}
</script>
