<template>
  <section class="container">
    <div class="fixed header">
      <em class="material-icons"></em>
      <span>HOT or NOPE</span>
      <em class="material-icons"></em>
    </div>
    <div
      v-if="current"
      class="fixed fixed--center"
      style="z-index: 3"
      :class="{ 'transition': isVisible }"
    >
      <Vue2InteractDraggable
        v-if="isVisible"
        :interact-out-of-sight-x-coordinate="500"
        :interact-max-rotation="15"
        :interact-x-threshold="200"
        :interact-y-threshold="200"
        :interact-event-bus-events="interactEventBus"
        interact-block-drag-down
        @draggedRight="emitAndNext('match')"
        @draggedLeft="emitAndNext('reject')"
        @draggedUp="emitAndNext('skip')"
        class="rounded-borders card card--one"
      >
        <div style="height: 100%">
          <img :src="require(`../assets/images/${current.src}`)" class="rounded-borders" alt="Photo"/>
          <div class="text">
            <h2>
              {{current.name}},
              <span>{{current.age}}</span>
            </h2>
          </div>
        </div>
      </Vue2InteractDraggable>
    </div>
    <div v-if="next" class="rounded-borders card card--two fixed fixed--center" style="z-index: 2">
      <div style="height: 100%">
        <img :src="require(`../assets/images/${next.src}`)" class="rounded-borders" alt="Photo"/>
        <div class="text">
          <h2>
            {{next.name}},
            <span>{{next.age}}</span>
          </h2>
        </div>
      </div>
    </div>
    <div
      v-if="index + 2 < cards.length"
      class="rounded-borders card card--three fixed fixed--center"
      style="z-index: 1"
    >
      <div style="height: 100%"></div>
    </div>
    <div class="footer fixed">
      <div class="btn btn--decline" @click="reject">
        <button type="button" class="btn btn-danger btn-circle btn-xl">
        <b-icon icon="x-circle-fill" shift-h="-0.3" shift-v="-0.4"></b-icon>
</button>
      </div>
      <div class="btn btn--like" @click="match">
        <button type="button" class="btn btn-success btn-circle btn-xl">
          <b-icon icon="heart-fill" shift-h="-0.2" shift-v="-1.2"></b-icon>
        </button>
      </div>
    </div>
  </section>
</template>
<script>
import { Vue2InteractDraggable, InteractEventBus } from 'vue2-interact'

const EVENTS = {
  MATCH: 'match',
  SKIP: 'skip',
  REJECT: 'reject'
}
export default {
  name: 'SwipeableCards',
  components: { Vue2InteractDraggable },
  data () {
    return {
      isVisible: true,
      index: 0,
      interactEventBus: {
        draggedRight: EVENTS.MATCH,
        draggedLeft: EVENTS.REJECT,
        draggedUp: EVENTS.SKIP
      },
      cards: [
        { src: '1.jpg', name: 'Karina', age: 18 },
        { src: '2.jpg', name: 'Katarina', age: 19 },
        { src: '3.jpg', name: 'Angelina', age: 18 },
        { src: '4.jpg', name: 'Clara', age: 20 },
        { src: '5.jpg', name: 'Sofya', age: 21 },
        { src: '6.jpg', name: 'Monica', age: 17 },
        { src: '7.jpg', name: 'Luisa', age: 23 },
        { src: '8.jpg', name: 'Mariona Maréchal', age: 26 }
      ]
    }
  },
  computed: {
    current () {
      return this.cards[this.index]
    },
    next () {
      return this.cards[this.index + 1]
    }
  },
  methods: {
    match () {
      InteractEventBus.$emit(EVENTS.MATCH)
    },
    reject () {
      InteractEventBus.$emit(EVENTS.REJECT)
    },
    skip () {
      InteractEventBus.$emit(EVENTS.SKIP)
    },
    emitAndNext (event) {
      this.$emit(event, this.index)
      setTimeout(() => (this.isVisible = false), 200)
      setTimeout(() => {
        this.index++
        this.isVisible = true
      }, 200)
    }
  }
}
</script>

<style lang="scss" scoped>
.b-icon{
  position:relative;
  width: 38px;
  height: 38px;
}
.btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            font-size: 12px;
            text-align: center;
            top: -15px;
            left: -10px;
            color:black;
            font-weight: bold;
        }
.container {
  background: #eceff1;
  width: 100%;
  height: 100vh;
}
.header {
  width: 100%;
  height: 60vh;
  z-index: 0;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  font-style: italic;
  font-family: "Engagement", cursive;
  background: grey;
  background: -webkit-linear-gradient(top, white, grey);
  background: linear-gradient(to top,white, grey);
  clip-path: polygon(0 1%, 100% 0%, 100% 76%, 0 89%);
  display: flex;
  justify-content: space-between;
  span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    padding-top: 2rem;
    color : white;
    text-shadow: 1px 1px 1px black;
  }
  i {
    padding: 24px;
  }
}
.footer {
  width: 77vw;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding-bottom: 30px;
  justify-content: space-around;
  align-items: center;
}
.btn {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0.2rem;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.02),
    0 10px 14px 1px rgba(0, 0, 0, 0.02), 0 4px 18px 3px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &:active {
    transform: translateY(4px);
  }
  em {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::before {
      content: "";
    }
  }
}
.flex {
  display: none;
  &--center {
    align-items: center;
    justify-content: center;
  }
}
.fixed {
  position: fixed;
  &--center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.rounded-borders {
  border-radius: 12px;
}
.card {
  width: 80vw;
  height: 60vh;
  color: white;
  img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }
  &--one {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  &--two {
    transform: translate(-48%, -48%);
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2),
      0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
  }
  &--three {
    background: rgba(black, 0.8);
    transform: translate(-46%, -46%);
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2),
      0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
  }
  .text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
    background: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    text-indent: 20px;
    span {
      font-weight: normal;
    }
  }
}
.transition {
  animation: appear 200ms ease-in;
}
@keyframes appear {
  from {
    transform: translate(-48%, -48%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
</style>
